body{
    width: 60%;
    margin: auto;
}
h3{
    float: left;
    text-align: center;
    margin-left: 30%;

}
#header {
    color: rgb(40, 40, 134);
    font-size: 20px;
    font-weight: bolder;
}

span{
    margin-top: 50px;
    margin-left: 15px;
}

p {
    margin-left: 10px;
}
.btn {
    margin-left: 15px;
}
.no-margin-y {
    margin-bottom: 0px;
    margin-top: 0px;
}
.nav-wrapper {
    padding-left: 10px;
}